{% extends 'base.html' %}
{% load staticfiles %}


{% block head_files %}
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
  <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block css %}
  <style>
   #search-box {
     padding-left: 5px;
     margin-top: 7px;
     margin-left: 0px;
   }
   #search {
     padding-left: 0px;
   }

  </style>
{% endblock %}

{% block search %}

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <div class="col-sm-8 col-md-8" id="search">
      <input type="text" class="form-control" autocomplete="off" name="search-query" id="search-box"
             autofocus="autofocus" placeholder="Enter any book or author" />
    </div>
  </div>

{% endblock %}

{% block content %}
  <div id="results">

  </div>

  <script>
    $('#search-box').keyup(function() {

    query = $('#search-box').val();
    if (query.length != 0) {

    var ac_url = "{% url 'autocomplete' 12345 %}".replace(/12345/, query);

    //ajax_url = "http://127.0.0.1:8000/autocomplete/" + query

    $.getJSON(ac_url, function(data) {
    $('#results').empty();
    $.each(data, function(index, element) {
    $('#results').append($('<div --> -->>', {
             text: element
           }));
         });
       });
     } else {
       $('#results').empty();
     }

   });
  </script>

{% endblock %}
